
.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding-top: 28px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

/* 按钮自定义按钮颜色*/
.tt-btn-red {
  color: #fff;
  background-color: #F66F6A;
  border-color: #F46460;}
.tt-btn-red:hover {
  color: #fff;
  background-color: #F24D48;
  border-color: #F13A36;}
.tt-btn-warning {
  color: #fff;
  background-color: #e6a41c;
  border-color: #e09905;}
.tt-btn-warning:hover {
  color: #fff;
  background-color: #c37e0a;
  border-color: #b77b04;}
.tt-btn-success {
  color: #fff;
  background-color: #009999;
  border-color: #339999;
}
.tt-btn-success:hover {
  color: #fff;
  background-color: #098899;
  border-color: #308499;
}
.tt-btn-info {
  color: #fff;
  background-color: #3c8eaf;
  border-color: #3c8eaf;
}
.tt-btn-info:hover {
  color: #fff;
  background-color: #3080af;
  border-color: #407dbd;
}

/* 确认取消按钮居中样式属性 */
.tt-form-actions-center {
  text-align: center !important;
  margin-bottom: 1px !important;
}

.ngx-datatable .datatable-row-left,
.ngx-datatable .datatable-row-center,
.ngx-datatable .datatable-row-group,
.ngx-datatable .datatable-row-right {
  border-bottom: 1px solid #ebeef2;
  margin-top: 5px;
  padding-bottom: 5px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.bordered {
}
